.home{
    min-height: calc(100vh - 150px);
}


.home--grid{
    display: grid;
    width: 85%;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(10%, 18%));
    grid-auto-rows: 310px;
    gap: 60px 20px;  
    margin: 0 auto;
}

.home--loading{
    position: relative;
    top: 200px;
    margin: auto;
    padding: 40px;
    width: fit-content;
}



@media screen and (max-width: 884px){
    .home--grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .home--grid{
        grid-template-columns: 1fr;
    }
}

